body {
  background-color: wheat;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.calc-wrapper {
  background-color: black;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}